@font-face {
    font-family: 'Solway';
    src: url('../../assets/Fonts/Solway-Regular.ttf') format('woff2'),
         url('../../assets/Fonts/Solway-Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Solway';
    src: url('../../assets/Fonts/Solway-Bold.ttf') format('woff2'),
         url('../../assets/Fonts/Solway-Bold.ttf') format('woff');
    font-weight: bold;
    font-style: bold;
}

.about{
    margin-top: 20%;
    margin-bottom: 20%;
    height: 90%;
    color: black;
    font-family: "Solway";
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.photo{
    width: 80%;
    margin-left: 10em;
    min-width: 150px;
}

.aboutPhoto{
    width: 100%;
    height: 100%;
}

.location{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 20px;
    margin-bottom: 20px;
}

.locationIcon{
    width: 15px;
    margin-right: 10px;
}

.textAbout{
    display: flex;
    align-items: self-start;
    flex-direction: column;
    margin-left: 10vh;
}

.description{
    width: 80%;
}

.descriptionText{
   text-align: start;
}

.invitation{
    margin-top: 4em;
    color: #042FDA ;
}



@media (max-width: 836px) {

 
    .about{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 40px;
        width: 100%;
    }

    .photo{
        width: 40%;
        margin-left: 0em;
        min-width: 50px;
    }

    .descriptionText{
        text-align: center;
     }
    
}



@media (max-width: 400px) {

 
    .about{
      
        margin-top: 6em;
     
    }

    
}

@media (max-width: 390px) {

 
    .about{
      
        margin-top: 90px;
     
    }

    
}

@media (max-width: 370px) {

 
    .about{
      
        margin-top: 5em;
     
    }

    
}