/* Estilos generales */
@font-face {
    font-family: 'SingleDay';
    src: url('../../assets/Fonts/SingleDay-Regular.ttf') format('woff2'),
         url('../../assets/Fonts/SingleDay-Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Solway';
    src: url('../../assets/Fonts/Solway-Regular.ttf') format('woff2'),
         url('../../assets/Fonts/Solway-Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Solway';
    src: url('../../assets/Fonts/Solway-Bold.ttf') format('woff2'),
         url('../../assets/Fonts/Solway-Bold.ttf') format('woff');
    font-weight: bold;
    font-style: bold;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
    height: 10%;
    position: fixed;
    background-color: #E4E4E4;
    z-index: 999;
}

.nav_name_name {
    font-family: "SingleDay";
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 5px;
}

.nav_name_title {
    font-family: "Solway";
    font-size: 20px;
}

.nav_logo_image {
    width: 100px;
    height: 100px;
}

.nav_logo {
    display: flex;
    align-self: row;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    color: black;
    margin-left: 5vh;
}

.nav_menu {
    display: flex;
    flex-direction: row;
    margin-right: 5vh;
}

.nav_item {
    border: 3px #687FDD solid;
    border-radius: 25px;
    margin: 0 10px;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_item a {
    color: #000;
    font-weight: bold;
    font-family: "Solway";
}

/* Estilos para el menú hamburguesa */
.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
    transition: 0.4s;
}




.hamburger-menu.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-7.5px, 8px);
}

.hamburger-menu.open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-7.5px, -8px);
}



@media (max-width: 1130px) {

    .nav_name_name{
        font-size: 50px;
    }

    .nav_name_title {
        font-size: 20px;
    }

    
    
}

@media (max-width: 1050px) {

 
    .nav_name_name{
        font-size: 40px;
    }

    .nav_name_title {
        font-size: 20px;
    }
    .nav_item {
        border: 3px #687FDD solid;
        border-radius: 35px;
        margin: 0 5px;
        padding: 10px 10px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}


/* Estilos para mostrar/ocultar el menú en dispositivos pequeños */



@media (max-width:950px) {
    .header {
        position: fixed;
        justify-content: space-between;
        background-color: #CDCCCC;
        height: 80px;
    }

    .hamburger-menu {
        display: flex;
        order: 1;
        align-self: center;
        position: absolute;
        left: 30px;
        top: 28px;
        background-color: #687FDD;
        border-radius: 15px;
        padding: 5px;
        padding-left: 7px;
        padding-right: 7px;
    }

    
    .hamburger-menu .bar {
  
        background-color: #f3f4f8;
        border-radius: 2px;
       
    }

    .nav_logo {
        order: 0;
        position: absolute;
        top: 10px;
        left: 50%;
        width: 80%;
        max-width: 325px;
        transform: translateX(-50%);
        
        margin-left: 0px;
    }

    .nav_item a {
        color: #000;
        font-weight: bold;
        font-family: "Solway";
        font-size: 10px;
    }


    .nav_logo_image{
        width: 80px;
        height: 80px;
    }

 
    .nav_menu {
        display: none;
        position: absolute;
        flex-direction: column;
        background-color: #D6D0B6;
        width: 40%;
        align-items:flex-start;
        border-radius: 10px;
    }
    .nav_item {
        border: 0px;
        margin: 0 10px;
        padding: 3px 20px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 7px;
    }


    .nav.show-menu .nav_menu {
        position: absolute;
        display: flex;
        left: 20px;
        top: 90px;
        order: 2;
        max-width: 150px;
    }

   

    .nav_name_name {
        font-size: 30px;
    }
    .nav_name_title{
        font-size: 15px;
    }

    .nav_item {
        padding: 3px 10px;
    }
}


@media (max-width: 460px) {
    .nav_logo_image{
        width: 60px;
        height: 60px;
    }
    
    .nav_logo{
        max-width: 325px;
        width: 50%;
    }
    
    
    .nav_name_name {
        font-size: 25px;
    }
    .nav_name_title{
        font-size: 15px;
    }
    }
    

    @media (max-width: 380px) {
        .nav_logo_image{
            width: 60px;
            height: 60px;
        }
        
        .nav_logo{
            max-width: 325px;
            width: 50%;
        }
        
        
        .nav_name_name {
            font-size: 20px;
        }
        .nav_name_title{
            font-size: 10px;
        }
        }
